.page-header {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

.card {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1.5rem;
}

.card-bottom {
    margin-bottom: 3.5rem;
}

.card-body {
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
}

.welcome-text {
    margin-top: 1rem;
}

.welcome-text-link {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.disguised-link {
    text-decoration: none;
}

.disabled-link {
    color: currentColor;
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
}

.vertical-spacing {
    margin-bottom: 0.5rem;
}