<!DOCTYPE html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
        crossorigin="anonymous"
    >
    <link 
        rel="stylesheet" 
        href="{{url_for('static', filename='css/style.css')}}"
    >
    <title>SpotifyApp</title>
</head>

<body>
    
    <div class="row align-items-center page-header">
        <div class="col d-flex justify-content-center">
            {% if authorized == False%}
                <a href="{{url_for('connect_to_spotify')}}" class="btn btn-link"><h5>Connect Your Account</h5></a>
            {% elif authorized == True and expired == True %}
                <a href="{{url_for('connect_to_spotify')}}" class="btn btn-link"><h5>Connect Your Account (Your token has expired.)</h5></a>
            {% else %}
                <a href="{{url_for('connect_to_spotify')}}" class="btn btn-link disabled-link"><h5>Account already connected.</h5></a>
            {% endif %}
        </div>
        <div class="col d-flex justify-content-center">
            <a href="{{url_for('show_index')}}" class="btn btn-link disguised-link"><h1>SpotifyApp</h1></a>
            
        </div>
        <div class="col d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Menu
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{{url_for('show_stats')}}">Spotify Stats</a>
                  <a class="dropdown-item" href="{{url_for('show_similar_artists')}}">Find Similar Artists</a>
                  <a class="dropdown-item" href="{{url_for('show_similar_music')}}">Find Similar Music</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row align-items-center welcome-text">
                <h5 class="card-title">Your Spotify Statistics:</h5>
                {% if authorized == False or expired == True %}
                    <p class="card-text">
                        You have not authorized your spotify account. Please click the link at the top left of the page to do this.
                    </p>
                {% elif profile_info_status_code != 200 %}
                    <p class="card-text">
                        {{profile_info_error}}
                    </p>
                    {% if profile_info_status_code != 429 %}
                        <a href="{{url_for('connect_to_spotify')}}" class="btn btn-link"><h5>Click to re-authenticate.</h5></a>
                    {% endif %}
                {% else %}
                    <div class="row align-items-center">
                        <div class="col-6">
                            <p class="card-text">
                                Display Name: {{profile_info.display_name}}
                            </p>
                            <p class="card-text">
                                Followers: {{profile_info.followers.total}}
                            </p>
                            <p class="card-text">
                                Email: {{profile_info.email}}
                            </p>
                            <p class="card-text">
                                <a href="{{profile_info.external_urls.spotify}}">View account on Spotify.</a>
                            </p>
                        </div>
                        <div class="col-6 justify-content-center">
                            <img src="{{profile_info.images[0].url}}", alt="Profile Image">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row align-items-center welcome-text">
                <h5 class="card-title">Your Top Tracks:</h5>
                <p class="card-title">(Over the last 6 months.)</p>
                {% if authorized == False or expired == True %}
                    <p class="card-text">
                        You have not authorized your spotify account. Please click the link at the top left of the page to do this.
                    </p>
                {% elif track_info_status_code != 200 %}
                    <p class="card-text">
                        {{track_info_error}}
                    </p>
                    {% if track_info_status_code != 429 %}
                        <a href="{{url_for('connect_to_spotify')}}" class="btn btn-link"><h5>Click to re-authenticate.</h5></a>
                    {% endif %}
                {% else %}
                    <p class="card-text">
                        {% for item in track_info %}
                            <div class="row align-items-center">
                                <p class="card-text">{{item.name}} - {{item.artists[0].name}}</p>
                            </div>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card card-bottom">
        <div class="card-body">
            <div class="row align-items-center welcome-text">
                <h5 class="card-title">Your Top Artists:</h5>
                <p class="card-title">(Over the last 6 months.)</p>
                {% if authorized == False or expired == True %}
                    <p class="card-text">
                        You have not authorized your spotify account. Please click the link at the top left of the page to do this.
                    </p>
                {% elif artist_info_status_code != 200 %}
                    <p class="card-text">
                        {{artist_info_error}}
                    </p>
                    {% if artist_info_status_code != 429 %}
                        <a href="{{url_for('connect_to_spotify')}}" class="btn btn-link"><h5>Click to re-authenticate.</h5></a>
                    {% endif %}
                {% else %}
                    <p class="card-text">
                        {% for item in artist_info %}
                            <div class="row align-items-center">
                                <p class="card-text">{{item.name}}</p>
                            </div>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#dropdownMenuButton").click(function(){
                $(".dropdown-toggle").dropdown();
            });
        });
    </script>
    
</body>

</html>
